.footerText {
    text-align: left;
    font: normal normal normal 15px/22px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.footerTextNews {
    text-align: left;
    font: normal normal normal 15px/22px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    align-self: center;
}

.colorText {
    color: #C4170C
}


.footerTextDvst {
    text-align: left;
    font: normal normal normal 15px/22px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 20%;
    cursor: pointer;
}

.footer {
    background: #C4170C 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    height: 130px;
}

.titleEco {
    font: normal normal 600 22px/30px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.titleNota {
    font: normal normal 600 25px/37px Segoe UI;
    letter-spacing: 0px;
    color: #C4170C;
    opacity: 1;
}

.descNot {
    font: normal normal normal 17px/26px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.tempAuta {
    font: normal normal normal 17px/26px Segoe UI;
    letter-spacing: 0px;
    color: #746565;
    opacity: 1;
}

.imgAut {
    height: 200px;
    cursor: pointer;
}

.newsRight {
    padding-left: 50px;
}

.separatorNews {
    border: 0.5px solid darkgray;
    opacity: 1;
    margin-top: 5%;
    margin-bottom: 5%;
}

.separatorComent {
    border: 0.5px solid darkgray;
    opacity: 1;
    margin-top: 2%;
    margin-bottom: 2%;
}

.clear {
    padding: 20px;
}

.clearComent {
    padding: 10px;
}

.buttonCentralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: #C4170C 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 250px;
    cursor: pointer;
}

.buttonText {
    text-align: center;
    font: normal normal 600 15px/20px Segoe UI;
    color: #FFFFFF;
    opacity: 1;
    padding: 20px;
    cursor: pointer;
}

.titleBestNotices {
    text-align: center;
    font: normal normal 600 28px/40px Segoe UI;
    font-weight: 700;
}

.imageNoticias {
    height: 200px;
    cursor: pointer;
}

.mainNews {
    font: normal normal 600 17px/25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: 700;
    cursor: pointer;
}

.rightCornerImage {
    padding-left: 80px;
}

.descNewsLeft {
    font: normal normal normal 20px/28px Segoe UI;
    letter-spacing: 0px;
    color: #8B0000;
}

.titleNewsLeft {
    font: normal normal 600 35px/28px Segoe UI;
    letter-spacing: 0px;
    color: #8B0000;
}

.DivStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    width: 100%;
    cursor: pointer;
    min-width: 328px;
}

.inDivStyle {
    top: 35%;
    left: 2%;
    position: absolute;
}

.header {
    background: #C4170C 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.imgG1Header {
    height: 69px;
    padding-right: 30%;
}

.imgG1HeaderNoticia {
    height: 77px;
    padding-right: 30%;
}

.alignDivs {
    display: flex;
}

.alignDivsFooter {
    display: flex;
    padding-top: 20px;
}

a:hover,
.active {
    color: red;
}

input,
::placeholder,
.menuColor {
    color: white !important;
}

.submit-lente {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    color: white;
}

.submit-line {
    position: relative;
    width: 200px;
}

.submit-line input {
    width: 100%;
    padding-left: 30px;
    background: #8B0000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;
    opacity: 1;
}

.fontSizeMenu {
    font-size: 17px;
}

.TitleNews {
    font-weight: 700;
    font-size: 70px;
}

.dateHourNew {
    color: #746565;
    font-size: 15px;
}

.imgNews {
    width: 75%;
}

.descNew {
    font-size: 23px;
}

.g1Footer {
    height: 55px;
    padding-right: 15px;
}

.centerImg {
    text-align: center;
}

.colorTxt {
    color: #555555;
}

.coments {
    padding-right: 10px;
    cursor: pointer;
}

.buttonComent {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: gray;
    border-color: gray;
}

.descComent {
    color: gray;
}

.accessAccount {
    text-align: center;
    border: solid;
    padding: 30px;
    border-color: darkgray;
    color: gray;
}